@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Application Cycles</h3>

<div class="card bg-light">
    <div class="card-body">
        <NavLink href="@($"application-cycles/new?scholarship={ScholarshipId}")" class="btn btn-primary btn-sm">
            Add Application Cycle
        </NavLink><br /><br />
        
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Academic Year</th>
                    <th class="col-2">Status</th>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                @if (applicationCycles != null && applicationCycles.Count > 0)
                {
                    foreach (var applicationCycle in applicationCycles)
                    {
                        <tr>
                            <td>
                                <NavLink href="@($"application-cycles/{applicationCycle.ApplicationCycleId}?scholarship={ScholarshipId}")">
                                    @applicationCycle.AcademicYear</NavLink>
                            </td>
                            <td class="col-2">@applicationCycle.Status</td>
                            <td class="col-1 text-center align-middle">
                                <NavLink href="@($"application-cycles/{applicationCycle.ApplicationCycleId}?scholarship={ScholarshipId}")"
                                    class="btn btn-success btn-sm">Start</NavLink>
                            </td>
                            <td class="col-1 text-center align-middle">
                                <NavLink href="@($"application-cycles/{applicationCycle.ApplicationCycleId}?scholarship={ScholarshipId}")"
                                    class="btn btn-danger btn-sm">Close</NavLink>
                            </td>
                            <td class="col-1 text-center align-middle">
                                <NavLink href="@($"application-cycles/{applicationCycle.ApplicationCycleId}?scholarship={ScholarshipId}")"
                                    class="btn btn-secondary btn-sm">Suspend</NavLink>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@code {

    [Parameter] public Guid ScholarshipId { get; set; }

    List<ApplicationCycleViewModel>? applicationCycles = new();

    protected override async Task OnInitializedAsync()
    {
        applicationCycles = await
        Http.GetFromJsonAsync<List<ApplicationCycleViewModel>>($"{NavigationManager.BaseUri}api/application-cycles?scholarship={ScholarshipId}");
    }

}
