@page "/application-cycles/{id:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>HESIMS - Application Cycle Details</PageTitle>

<h3>Application Cycle Details</h3>
<hr />

@if (applicationCycle != null)
{
    <div class="card bg-light">
        <div class="card-body">
            <div class="mb-2 btn-group">
                <NavLink href="@($"scholarships/{applicationCycle.ScholarshipId}")" class="btn btn-primary btn-sm">
                    Back to Scholarship Details
                </NavLink>
                <NavLink href="@($"application-cycles/new?scholarship={applicationCycle.ScholarshipId}")"
                    class="btn btn-primary btn-sm">
                    Add Application Cycle
                </NavLink>
            </div>
            <form>
                <input type="hidden" @bind="applicationCycle.ApplicationCycleId" />
                <input type="hidden" @bind="applicationCycle.ScholarshipId" />
                <input type="hidden" @bind="applicationCycle.Status" />
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Scholarship:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@applicationCycle.Scholarship?.ScholarshipName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Country:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@applicationCycle.Scholarship?.Country">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-text">Academic Year</div>
                        <input @bind="applicationCycle.AcademicYear" class="form-control" placeholder="Academic Year">
                        <button @onclick="Submit" class="btn btn-danger btn-sm" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br />

    <ApplicationCycleCourses ApplicationCycleId="@Id" ScholarshipId="@Scholarship" />
}

@code {

    [Parameter] public Guid Id { get; set; }

    [Parameter][SupplyParameterFromQuery] public Guid? Scholarship { get; set; }

    private ApplicationCycleViewModel? applicationCycle = new();

    protected override async Task OnInitializedAsync()
    {
        applicationCycle = await
        Http.GetFromJsonAsync<ApplicationCycleViewModel>($"{NavigationManager.BaseUri}api/application-cycles/{Id}");
    }

    async Task Submit()
    {
        if (applicationCycle != null)
        {
            await Http.PutAsJsonAsync<ApplicationCycleViewModel>(
            $"{NavigationManager.BaseUri}api/application-cycles/{Id}",
            applicationCycle);

            NavigationManager.NavigateTo($"{NavigationManager.BaseUri}application-cycles/{Id}?scholarship={applicationCycle.ScholarshipId}");
        }
    }

}